<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="number" [ngClass]="{ error:      !isValidNumber() }" class="form-number clearfix"
      id="form-number" (keyup)="isValidNumber()" />
  </div>
  <div class="call-button" (click)="call()">
    Zadzwoń
  </div>
</div>
<div class="state">
  Status połączenia: {{ state }}
</div>
<div class="form clearfix">
  <div class="form-field">
    <input [(ngModel)]="chatMessage" [ngClass]="{ error:      !isNonEmpty() }" class="form-number clearfix"
      id="form-chat"  />
  </div>
  <div class="call-button" (click)="chatSend()">
    Wyślij
  </div>
</div>
{{chat}}
		<table class="table table-stripped table-hover">
				<thead class="thead-default">
					<tr>
						<th>Wiadomość</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="wiadomosc in chat" ng-click="">
											<td>{{wiadomosc}}</td>
					</tr>
				</tbody>
			</table>
