body {
  font-size: 14px;
  font-family: 'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif
}

.form-field {
  float: left;
}

.form-number {
  box-sizing: border-box;
  padding: 10px 5px;
}

.call-button {
  vertical-align: middle;
  background: #008000;
  cursor: pointer;
  color: #fff;
  margin: 0 5px;
  padding: 10px 5px;
  text-align: center;
  float: left;
}

.call-button:hover {
  filter: brightness(80%);
}

.clearfix:after {
  content: "";
  clear: both;
  display: table;
}

.state {
  padding: 5px 0;
}

.error {
  border: 1px solid #FF0000;
  background: rgb(255, 170, 170)
}
